* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
  overflow-x: hidden;
}

header {
  /* background-color: #a55eea; */
 
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 0%, rgba(165,94,234,1) 83%);
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:30px 80px ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  position: relative;
  
}
.footer-text-heading{
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 20px;
}
.footer-text{
  font-family: "Montserrat", sans-serif;
  color: #454647;
  display: flex;
  font-size: 16px;
  line-height: 30px;
  flex-direction: column;
  
}
.footer-text-bottom{
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 46%;
}
.footer-uni img{
    width: 500px;
}

.main-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  width: 50%;
  padding: 15px;
}
form.searchBar {
  width: 70%;
  
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.searchBar input,
form.searchBar textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.form-button {
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8854d0;
  color: #fff;
  border: none;
  width: 64px;
  height: 64px;
   box-shadow: 0 1px 5px rgb(138, 137, 137);
  
  cursor: pointer;
  outline: none;

  transition: all 0.35s;
}
.form-button:hover{
  cursor: pointer;

  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.26);
}
.form-button:active {
    transition: .2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.mainContent{
  display: flex;
  
  flex-direction: column;
  padding: 1rem;
}
.main-screen-image img{
  width:630px;
  padding: 15px;
  border-radius: 25px;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 100px;
}

